# Auto detect text files and perform LF normalization

* text=auto
rocksdb/deps/** linguist-vendored

rocksdb/**/*.py linguist-vendored
rocksdb/**/*.c linguist-vendored
rocksdb/**/*.sh linguist-vendored
rocksdb/**/*.proto linguist-vendored
